<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/leaflet.css">
  <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/leaflet.js"></script>

  
</head>

<body>
  <div id="container">
    <div>
      <%- include('../partials/header') %>
    <div id="content">
      <div id="content-left">
        <%- include('../partials/content-left') %>
      </div>
      <div id="content-center">
        <main>
          <%- body %>
        </main>
      </div>
      <div id="content-right">
        <%- include('../partials/content-right') %>
      </div>
    </div>
    <div id="footer">
      <%- include('../partials/footer') %>
    </div>
  </div>
</body>

</html>
