<h1>Upload an Audio</h1>
<form id="upload-form" enctype="multipart/form-data" method="POST" action="/upload">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" required>

  <label for="location">Location (Click on the map):</label>
  <input type="text" id="location" name="location" readonly required>
  <input type="hidden" id="latitude" name="latitude">
  <input type="hidden" id="longitude" name="longitude">


  <label for="audio-file">Audio File:</label>
  <input type="file" id="audio-file" name="audio" accept="audio/*" required>

  <label for="uploader">Uploader Name:</label>
  <input type="text" id="uploader" name="uploader" value=<%=username%> readonly>

  <div class="tags-checkbox">
    <label>Tags:</label>
    <div id="tags-container" style="height:300px;width:400px;border:1px solid #ccc;overflow:auto;">
      <!-- Dynamically insert tags using EJS -->
      <% if (tags && tags.length) { %>
        <% tags.forEach(tag => { %>
          <div class="tag-item">
            <label for="tag-<%= tag %>"><%= tag %></label>
            <input type="checkbox" name="tags" value="<%= tag %>" id="tag-<%= tag %>">
          </div>
        <% }); %>
      <% } %>
    </div>
  </div>

  <button id="sss" type="submit">Upload</button>
</form>
<script>
  const currentRoute = '/upload';
</script>
